<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK |> {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    {% if custom_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css + '.css') }}">{% endif %}

    <link rel="icon" href="https://avatars.githubusercontent.com/u/60184582?v=4">
</head>

<body>
    <h1>{{ welcome }}</h1>

    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/master.js') }}"></script>
    {% if custom_js %}<script type='text/javascript' src="{{ url_for('static', filename='js/' + custom_js + '.js') }}"></script>{% endif %}
</body>

</html>